Package: nusa-theme
Version: 1.0-beta
Section: misc
Priority: optional
Architecture: all
Maintainer: Nusa-OS Team
Depends: lightdm-gtk-greeter, arc-theme, papirus-icon-theme
Description: Official Nusa OS V1 Beta Theme and Identity.
