Package: nusa-theme
Version: 1.2.2
Section: misc
Priority: optional
Architecture: all
Maintainer: Nusa-OS Developer <dev@nusa-os.org>
Depends: gdm3, gnome-shell, arc-theme, papirus-icon-theme, fonts-inter, bibata-cursor-theme
Description: Official GNOME identity for Nusa OS 1.2.2.
 Features Obsidian-Gold GSchema overrides.
