Package: nusa-theme
Version: 1.2.1-beta
Section: misc
Priority: optional
Architecture: all
Maintainer: Nusa-OS Developer <dev@nusa-os.org>
Depends: lightdm-gtk-greeter, arc-theme, papirus-icon-theme, xfce4-whiskermenu-plugin, fonts-inter, bibata-cursor-theme
Description: Official identity assets for Nusa OS 1.2.1-Beta.
 Includes Obsidian-Gold GTK overrides and system branding.
